@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Tappi Design Tokens */
  --tappi-purple: #4B1D8F;
  --tappi-purple-dark: #250E47;
  --tappi-green: #2CB34A;
  --tappi-orange-start: #FFAD03;
  --tappi-orange-mid: #FE8005;
  --tappi-orange-end: #FD5308;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-rubik);
  --font-mono: var(--font-rubik);

  /* Add theme colors */
  --color-tappi-purple: var(--tappi-purple);
  --color-tappi-purple-dark: var(--tappi-purple-dark);
  --color-tappi-green: var(--tappi-green);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-rubik), Arial, Helvetica, sans-serif;
}

@utility text-gradient-orange {
  background: linear-gradient(90deg, var(--tappi-orange-start), var(--tappi-orange-mid) 65.1%, var(--tappi-orange-end));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}